body
{
    background-color: lemonchiffon;
}
p, li
{
    color: blue;
}

a
{
    color: red;
}
h2, h3
{
    border-bottom: 1px solid black;
}
p
{
    font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;
}
div
{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;


}
