body
{
    background-color: #9DD1F1;
}
p, li
{
    color: #031927;
}
h2, h3
{
    border-bottom: 1px solid #BA1200;
}
p
{
    font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;
}
div
{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
